
.all{
    width: 100%;
}
.teamp__search{
    width: 100%;
}

.btn{
    width: 80px;
    height: 30px;
    border-radius: 15px;
    border: none;
    background-color: rgb(176, 203, 243);
    font-size: 15px;
    font-weight: 600;
    color: rgb(41, 27, 10);
}
.curr__forecast{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.fore{
    width: 100px;
    height: 120px;
    background-color: rgb(14, 11, 11);
    color: antiquewhite;
    border-radius: 15px;
}
.forecast-1{
padding: 25px 0px;
}
.btn1{
    width: 100px;
    height: 30px;
    border-radius: 15px;
    border: none;
    background-color: rgb(233, 148, 229);
    color: black;
    font-weight: 700;
}
.teamp__fav{
    margin: 0%;
}